<h1 class="text-center">The Team</h1><br>
<div class="container">

		<div class="row">
		<div class="col-xs-3">
			<%= image_tag('nishant.jpg', class:"img-rounded", height:150, width:150) %>
		</div>
		<div class="col-xs-3 pull-left">
			<h4><%= link_to "Nishant Shah", "#"%></h4>
			<p>Major: CS </p>
		</div>	
		<div class="col-xs-3">
			<%= image_tag('teja.jpg', class:"img-rounded", height:150, width:150)%>
		</div>
		<div class="col-xs-3">
			<h4><%= link_to "Teja", "#"%></h4>
			<p>Major: ECE</p>
		</div>
		</div>	
		<br>
		<div class="row">
		<div class="col-xs-3">
			<%= image_tag('sahithya.jpg', class:"img-rounded", height:150, width:150) %>
		</div>
		<div class="col-xs-3 pull-left">
			<h4><%= link_to "Sahithya Baskaran", "#"%></h4>
			<p>Major: HCI</p>
		</div>	
		<div class="col-xs-3">
			<%= image_tag('saurabh.jpg', class:"img-rounded", height:150, width:150)%>
		</div>
		<div class="col-xs-3">
			<h4><%= link_to "Saurabh Patwardhan", "#"%></h4>
			<p>Major: CS (Systems)</p>
		</div>
		</div>	


</div>	

