<h1 class="text-center">The Team</h1><br>
<div class="container">

		<div class="row">
		<div class="col-xs-3">
			<%= image_tag('nishant.jpg', class:"img-rounded", height:150, width:150) %>
		</div>
		<div class="col-xs-3 pull-left">
			<h4><%= link_to "Nishant Shah", "#"%></h4>
			<p>Major: CS </p>
		</div>	
		<div class="col-xs-3">
			<%= image_tag('teja.jpg', class:"img-rounded", height:150, width:150)%>
		</div>
		<div class="col-xs-3">
			<h4><%= link_to "Teja", "#"%></h4>
			<p>Major: ECE</p>
		</div>
		</div>	
		<br>
		<div class="row">
		<div class="col-xs-3">
			<%= image_tag('sahithya.jpg', class:"img-rounded", height:150, width:150) %>
		</div>
		<div class="col-xs-3 pull-left">
			<h4><%= link_to "Sahithya Baskaran", "#"%></h4>
			<p>Major: HCI</p>
		</div>	
		<div class="col-xs-3">
			<%= image_tag('saurabh.jpg', class:"img-rounded", height:150, width:150)%>
		</div>
		<div class="col-xs-3">
			<h4><%= link_to "Saurabh Patwardhan", "#"%></h4>
			<p>Major: CS (Systems)</p>
		</div>
		</div>	

</div>	
<br><br>
<h1 class="text-center">Our idea</h1><br>
<p class="lead text-center"> How awesome would it be to get food close to what your mom cooks anywhere you go? Yeah, we thought so too.
</p>

<br><br>
<h1 class="text-primary">Key Features</h1>
<p class="lead">
Feedme is a social network connecting those who want home-cooked food and those who like to cook at home and want to share it with others!
</p><br>
<h4>Asynchronous friendship model</h4><br><br>
<h4>Reputation system - Ratings and Reviews</h4><br><br>
<h4>Offers a cultural experience</h4><br><br>
<h4>Online interactions faciliate offline interactions</h4><br><br>


