  <% @listing.each do |f|%>
  <hr>
  <div class="row">
  <div class="col-xs-2">  
      <% pic = f.picture %>
      <!-- <img src="http://chewoutloud.files.wordpress.com/2013/02/deep-dish-pizza.jpg" alt="Pizza" class="img-thumbnail"> -->
      <%= image_tag(pic, class:"img-thumbnail",height:"100", width:"100") %>
   <p class="text-center"><%= f.reputation_for(:votes).to_i%> positive ratings</p>
  </div>    
  <div class="col-xs-5 pull-left">  
     <p><strong>Item:</strong>&nbsp;&nbsp;<%= link_to f.item, listings_path+"/"+f.id.to_s%></p> <br>
     <p><strong>Chef:</strong>&nbsp;&nbsp;<%= link_to f.name, users_path+"/"+f.user_id.to_s %></p> <br>
     <p><strong>Location:</strong>&nbsp;&nbsp;<%= f.address%></p><br>    
  </div>  
  <div class="col-xs-5 pull-right">
           <p><strong>Expected Time:</strong>&nbsp;&nbsp;<%= f.expected_time%></p><br>
           <p><strong>Price:</strong>&nbsp;&nbsp;<%= f.price%></p><br>
           <p><strong>Quantiy: </strong>&nbsp;&nbsp;<%= f.quantity%></p>
  </div>   


<!--   Chef: <%= link_to f.name, users_path+"/"+f.user_id.to_s %> <br>
  Item: <%= link_to f.item, listings_path+"/"+f.id.to_s%><br>
  Location: <%= f.address%><br>
  Price: <%= f.price%><br>
  Quantiy: <%= f.quantity%><br>
  Expected Time: <%= f.expected_time%><br>
  Number of reviews for this listing: <%= f.reviews.count%><br>
  Number of reviews for this chef: <%= f.user.reviews.count%><br><br> -->
  </div>
  <hr>
  <% end %> <!-- @listing.each do-->
