 <p>
  Index page
  </p>
 <!--
 <%= form_tag listings_path, :method => 'get' do %>
   <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
   </p>
  <% end %>-->
  <% @listing.each do |f|%>
  <%= link_to f.name, users_path(f.user_id) %> <br>
  Location: <%= f.address%><br>
  <%= link_to f.item, listings_path(f.id)%><br><br>
  <% end %>
