 <p>
  Index page
  </p>
 
 <%= form_tag listings_path, :method => 'get' do %>
   <p>
    <%= text_field_tag :search, params[:search],placeholder:"Find chinese,dosa" %> <%= text_field_tag :location, params[:location],placeholder:"Near Atlanta/" %> 
    <%= submit_tag "Search", :name => nil %>
   </p>
  <% end %>
  <% @listing.each do |f|%>
  Chef: <%= link_to f.name, users_path+"/"+f.user_id.to_s %> <br>
  Item: <%= link_to f.item, listings_path+"/"+f.id.to_s%><br>
  Location: <%= f.address%><br>
  Price: <%= f.price%><br>
  Quantiy: <%= f.quantity%><br><br>
  <% end %>
