 <p>
  Index page
  </p>
 
 <%= form_tag listings_path, :method => 'get' do %>
   <p>
    <%= text_field_tag :search, params[:search],placeholder:"Find chinese,dosa" %> <%= text_field_tag :location, params[:location],placeholder:"Near Atlanta/" %> 
    <%= submit_tag "Search", :name => nil %>
   </p>
   <p>
    <%= check_box_tag(:cheap) %>
<%= label_tag(:cheap, "Low Price (<$5)") %>
<%= check_box_tag(:average) %>
<%= label_tag(:average, "Average Price ($5-$15)") %>
<%= check_box_tag(:expensive) %>
<%= label_tag(:expensive, "High Price (>$15)") %>

   </p>

    <div class="field">
      <%= radio_button_tag(:close,1) %>
    <%= label_tag(:close, "Less than a mile ",:style =>"display:inline") %>
    </div>
    <div class="field">
      <%= radio_button_tag(:far,1) %>
    <%= label_tag(:far, "Less than 5 miles ",:style =>"display:inline") %>
    </div> 
    
  <% end %>
 
  <% @listing.each do |f|%>
  Chef: <%= link_to f.name, users_path+"/"+f.user_id.to_s %> <br>
  Item: <%= link_to f.item, listings_path+"/"+f.id.to_s%><br>
  Location: <%= f.address%><br>
  Price: <%= f.price%><br>
  Quantiy: <%= f.quantity%><br>
  Expected Time: <%= f.expected_time%><br>
  Number of reviews for this listing: <%= f.reviews.count%><br>
  Number of reviews for this chef: <%= f.user.reviews.count%><br><br>
  <% end %>
