<script> 
var count=0;
</script>
<h1 class="text-centered text-muted">Listings</h1>
<div class="container">
 <%= form_tag listings_path, class: "form-group", :method => 'get' do %>
 <div class="row">
   <%= select_tag(:search_option,options_for_select([['all',0],['listing',1],['user',2],['event',3]],1), class:"form-control")%>
 </div>
   <div class="row">
    <div class="col-xs-4">
    <%= text_field_tag :search, params[:search],placeholder:"Enter search term",class: "form-control" %> </div>
    <div class="col-xs-4">
    <%= text_field_tag :location, params[:location],placeholder:"Near Atlanta/Seattle/New York" , class: "form-control" %> </div>
    <div class="col-xs-2">
    <%= submit_tag "Search", :name => nil , class: "btn btn-small"%></div>
    <div class="col-xs-1">
        <div class="row">
              <p class="text-left"><a class="btn btn-small showdetails" onClick="movemap()" data-toggle="collapse" data-target="#hideme">Filters &raquo;</a></p>
        </div>
      </div>   
      <div class="col-xs-1">
    <%= link_to "Map", "#", id:"mapb", class:"btn btn-small" %></div> 
    </div>
</div>
<!-- Insert map here -->
    <div class="row">
        <div id="map"></div>
    </div>

  <div id="tog" class="container collapse-group">

    <div id="hideme" class="collapse">
            <div class="col-xs-6">
                       <ul class="list-inline">
                        <li><h2>Filter By Price</h2></li><br>
                        <l1> <div class="checkbox-inline"><%= check_box_tag(:cheap) %> <%= label_tag(:cheap, "Low Price (<$5)") %> </div></li>
                        <li> <div class="checkbox-inline"><%= check_box_tag(:average) %> <%= label_tag(:average, "Average Price ($5-$15)") %></div></li>
                        <li><div class="checkbox-inline"><%= check_box_tag(:expensive) %> <%= label_tag(:expensive, "High Price (>$15)") %></div> </li>
                      </ul>  
            </div>
             <div class="col-xs-6">
                       <ul class="list-inline">
                <li><h2>Filter By Distance</h2></li><br>
                             <li>
                                <div class="field">
                                <%= radio_button_tag(:close,1) %>
                              <%= label_tag(:close, "Less than a mile ",:style =>"display:inline") %>
                              </div>
                               <div class="field">
                                <%= radio_button_tag(:far,1) %>
                              <%= label_tag(:far, "Less than 5 miles ",:style =>"display:inline") %>
                              </div> 
                            </li> </ul>
            </div>
  </div>
</div>
   
<% end %>
<div id="listview">
<% if params[:search_option]==1.to_s && !@listing.nil? %>
 
  <%= render 'listing_search_result'%>
 <!--
  <div class="span9">
    <div class="row-fluid">
      <ul>
          <li class="inline">
            
            <% @listing.each do |f|%>
            <div class="spl-thumb">
            <%= link_to image_tag(f.picture, class:"img-thumbnail", height:"300", width:"250"), listing_path(f) %>
            <%= link_to image_tag("transparent_heart.png", class:"trans-heart"),'' %>
            </div> 
           <% end %>
          </li>
       </div><!-- row fluid-->
     </ul>
    </div><!--rowfluid -->
   </div> <!-- span9-->
	-->
<% end%>
</div>
<% if params[:search_option]==2.to_s %>
    <%= render 'user_search_results'%>
<% end %>

<% if params[:search_option]==3.to_s%>
  <%= render 'event_search_results'%>
<% end %>
</div>

<div class="footer">
</div>  

<script>
$(document).ready( function() {
  
  $(".trans-heart").hide();
  $(".row").hover( function() {
     $(this).find(".trans-heart").fadeIn();
     console.log("hover works");
    }, function() {
       $(this).find(".trans-heart").fadeOut(); 
     }
  )}
  )
</script>
<script type='text/javascript'>
 var map = L.mapbox.map('map', 'examples.map-9ijuk24y');

 var geoJson = [{
     type: 'Feature',
     "geometry": { "type": "Point", "coordinates": [-77.03, 38.90]},
     "properties": {
         "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Cherry_Blossoms_and_Washington_Monument.jpg/320px-Cherry_Blossoms_and_Washington_Monument.jpg",
         "url": "http://en.wikipedia.org/wiki/Washington,_D.C.",
         "marker-symbol": "star",
         "city": "Washington, D.C."
     }
 }, {
     type: 'Feature',
     "geometry": { "type": "Point", "coordinates": [-87.63, 41.88]},
     "properties": {
         "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Chicago_sunrise_1.jpg/640px-Chicago_sunrise_1.jpg",
         "url": "http://en.wikipedia.org/wiki/Chicago",
         "city": "Chicago"
     }
 }, {
     type: 'Feature',
     "geometry": { "type": "Point", "coordinates": [-74.00, 40.71]},
     "properties": {
         "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/3/39/NYC_Top_of_the_Rock_Pano.jpg/640px-NYC_Top_of_the_Rock_Pano.jpg",
         "url": "http://en.wikipedia.org/wiki/New_York_City",
         "city": "New York City"
     }
 }];

// Add custom popups to each using our custom feature properties
 map.markerLayer.on('layeradd', function(e) {
     var marker = e.layer,
         feature = marker.feature;
     console.log("latlong"+feature.geometry.coordinates[0]+feature.geometry.coordinates[1]);
     // Create custom popup content
     var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                             '<img src="' + feature.properties.image + '">' +
                         '   <h2>' + feature.properties.city + '</h2>' +
                         '</a>';

     // http://leafletjs.com/reference.html#popup
     marker.bindPopup(popupContent,{
         closeButton: false,
         minWidth: 320
     });
 });

 // Add features to the map
 map.markerLayer.setGeoJSON(geoJson);

 map.setView([0, 0], 2);
</script>
<script type='text/javascript'>

$('#map').hide();
  
function movemap()
{
        if(count%2==0)
         {
                  $('#map').css("top", "470px"); //push map below

         } 
         else
         {
                  $('#map').css("top", "300px"); //move map back to original position

         }
         count++;   

}

$('#mapb').click(function() {
    jQuery(this).text('List');
    if($('#map').is(':visible')){
          jQuery(this).text('List');
    }else{
          jQuery(this).text('Map');
           $('.footer').css("margin-top","600px"); //show some space below page otherwise map ends abruptly

    }
    $('#map').slideToggle('fast');
    $('#listview').slideToggle('fast');
    // $('#listview').hide();
    return false;
});

</script>
