<div class="container">
  <div class="form-signin">

    <h2 class="form-signin-heading">Please sign in</h2>
      <%= form_for(@listing) do |f| %>

        
        <%= f.text_field :name ,value: current_user.name,class: "form-control" %><br>
        <%= f.text_field :email,value: current_user.email,class: "form-control" %><br>
        <%= f.text_field :item, placeholder: "Listing",class: "form-control" %><br>
        <%= f.text_field :price, placeholder: "Price",class: "form-control" %><br>
        <%= f.text_field :quantity, placeholder: "Quantity",class: "form-control"%> <br>
        <%= f.text_field :address, placeholder: "Location",class: "form-control"%> <br>
        <%= f.text_field :cuisine, placeholder: "Cuisines",class: "form-control"%> <br>
        
       Expected Date: <%= f.date_field :expected_date, placeholder: "When can you deliver? ", class: "form-control" %><br>

       Expected Time:<input type="time" name="expected_time">
       <%#f.hidden_field :expected_time, value=""%>
   Add a  Picture: <%= f.file_field :picture %> <br>


        
        <%= f.submit "Publish my listing", class: "btn btn-large btn-primary btn-block" %>
      <% end %>
</div>
</div>
