 <h1 class="text-muted text-left"><%= @listing.item %></h1><br>
<!-- <h2 class="text-left"> Map </h2> -->
<%= image_tag(@listing.picture_url, :width => 200, :height => 200) if @listing.picture.present? %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@listing.latitude}%2C#{@listing.longitude}" , class: "pull-right"%>
<ul class="inline text-left"><li><h4>Quantity:</h4></li><li><%= @listing.quantity %></li></ul>
<ul class="inline"><li><h4>Cuisine:</h4></li><li><%= @listing.cuisine %></li></ul>

<h4>Pickup Date:</h4><%= date=@listing.expected_date %>
<h4>Pickup Address:</h4><%= @listing.address %>


<br><br>
<h4>Food score:</h4>
<%= @listing.reputation_for(:votes).to_i%> people have given it a good rating
<br><br>
<p>
<h4>Similar listings:</h4>
<br>
<% @reco.each do |f|%>
<%=link_to f.item,listing_path(f)%><br><br>
<% end %>
</p>
<% if params[:order_id] %>
  <div class="container">
  <div class="form-signin">


      <%= form_for(@review) do |f| %>


       <%= f.text_field :item ,value:@listing.item %><br>
        
        <%= f.text_area :review_text, placeholder: "Review"%>
        
        <%= f.hidden_field :user_id, value: @listing.user_id%>
        <%= f.hidden_field :order_id, value: params[:order_id]%>
        <%= f.hidden_field :listing_id, value: params[:id]%>
        <%= f.submit "Publish my review", class: "btn btn-large btn-primary btn-block" %>
      <%= link_to "up", vote_listing_path(@listing, type: "up"), method: "post" %>
  | <%= link_to "down", vote_listing_path(@listing, type: "down"), method: "post" %>
       <% end %>
</div>
</div>
  <% else %>
 <br><br>
  There are <%= @listing.reviews.count%> reviews for this listing
<br><br>

   <% if @listing.reviews.count > 0 %>
     <% @listing.reviews.each do |f| %>

             <% order = f.order%>
	     <% user = order.user %>

             <% user = f.order.user%>
	     

             <%= link_to "By "+user.name, users_path+"/"+user.id.to_s%><br>
        Review:  <%= f.review_text %><br><br>

      <%end %>
   <% end %>
      <% if @listing.user.id !=current_user.id %>
      <%= link_to "Place order", {:controller=>'orders' ,:action => "new",:listing_id => @listing.id}, class:"btn" %>
       <% end %>
<% end %>
