<div class="container signbody">
<div class="form-signin">
  <h2 class="form-signin-heading">Update your profile</h2>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
<br>
<!--       <% userpic = @user.picture %>
      <%= image_tag(userpic) %> -->
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.text_field :email ,class: "form-control"%>
     <%= f.label :description %>
      <%= f.text_field :description ,class: "form-control"%>
      <%= f.label :address %>
      <%= f.text_field :address_line,class: "form-control" %> 
     <%= f.label :cuisines %>
      <%= f.text_field :cuisines,class: "form-control" %>
      <br>Add a  Picture: <%= f.file_field :picture %> <br>
      <%= f.label :password %>
      <%= f.password_field :password ,class: "form-control"%>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation ,class: "form-control"%>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary btn-block" %>
    <% end %>


</div>
</div>
