
<% if !current_user.nil?%>
<p>
  <!-- Hi <%= current_user.name%>!</h1> -->
</p>
<div class="container">
  
<div class="row">
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Profile", '/users/show', class: "btn btn-large btn-link btn-block"%>
    </div>  
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Search", '/listings/index', class: "btn btn-large btn-link btn-block" %>
    </div> 
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Create Listing", '/listings/new', class: "btn btn-large btn-link btn-block" %>
    </div>       
</div>  
<hr>
My Orders:
<p>
<% orders =current_user.orders %>
<% orders.each do |f|%>
<br>
<%= link_to f.item, orders_path+"/"+f.id.to_s%>
<% end %>
</p>
My Events:
<p>
<% events = current_user.events %>
<% events.each do |f|%>
<br>
<%= link_to f.title, user_event_path(current_user,f) %>
<% end %>
</p>

 </div> <!--container end -->

<% else%>
<div class="container">

      <div class="jumbotron">
        <h1>Hungry for some home-cooked food?</h1>
        <p class="lead">Find home-cooked meals nearby or enroll as a chef and share your cooking with foodies!</p>
        <p><%= link_to "Sign up today!", '/signup', class: "btn btn-large btn-success" %></p>
		 <p class="lead">OR </p>
        <p><%= link_to "Sign into existing account", '/signin', class: "btn btn-large btn-success" %></p> 
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Foodies</h4>
          <p>Find home-cooked meals by enthusiastic chefs near you at any time. You can get a taste of different cultures and save time,money and find new friends while doing it!  </p>

          <h4>Chefs</h4>
          <p>Party of 2 and cooked for twenty? Don't worry! You can now share it with foodies and earn some money while doing it! </p>

        </div>

      </div>

</div> <!-- /container -->
<%end%>
