<% if !current_user.nil?%>

<div class="container">
  
<div class="row">
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Profile", user_path(current_user) , class: "btn btn-large btn-link btn-block"%>
    </div>  
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Search", listings_path, class: "btn btn-large btn-link btn-block prtab" %>
    </div> 
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Create Listing", new_listing_path, class: "btn btn-large btn-link btn-block prtab" %>
    </div>       
</div> 
<hr>


  <div class="col-xs-8"> <!-- main content begins -->
      <h2 class="text-left">Welcome, <%= current_user.name%>!</h2>
<h2 class="text-left">Current Orders</h2>
<% orders =current_user.orders %>
<% if !orders.any?%>
    <p>You don't have made any orders yet. <%= link_to "Look for listings nearby!", listings_path %> </p>

<p>Want to be surprised ? <%= link_to "Surprise Me!", surprise_user_path(current_user) %> </p>

<% else %>
<% orders.each do |f|%>
<div class="row">
            <div class="col-xs-2 text-center">
            <% date=f.listing.expected_time%>
            <% if !date.nil?%>
            <h3><%= @dow[date.wday]%></h3> <!-- place day of week of order date here -->
           <p><%= @moy[date.month]%> <%= date.day%></p> <!-- place  of order date here -->
            <% end %>
            <br>
                       </div>
            
            <div class="col-xs-10 text-center">
              <br>
              <%= link_to f.item, order_path(f)%>
              <% if f.is_cancelled==1%>
                <br>
                Sorry but your order has been declined.
                Add link to similar listings
             <% end %>

            </div>
</div>
<hr>
<% end %> <br><br> 
<% end %>
<h2 class="text-left">Your Events</h2>

<% events = current_user.events %>
<% if !events.any?%>
    <p>You haven't created any events yet. <%= link_to "Create a new event!", new_user_event_path(user_id:current_user.id) %> </p>
<% else %>
<% events.each do |f|%>
<div class="row">
            <div class="col-xs-2 text-center">
            <h3><% date=f.event_time %><%= @dow[date.wday] %></h3> <!-- place day of week of event date here -->
	    <p><%= @moy[date.month]%> <%= date.day%></p> <!-- place month and date of event date here -->
          </div>
            <div class="col-xs-10 text-center">
              <br>
              <%= link_to f.title, user_event_path(current_user,f) %>
            </div>
</div>
<hr>
<% end %> 
<% end %> 

  <h2 class="text-muted text-left"><%= link_to "Not sure what to have?",surprise_user_path(current_user)%></h2>
<div class="row">
  <div class="col-xs-6 left">
  <h4 class="text-left">Popular Listings</h4>
  <% @top5.each do |f|%>
    <%= link_to f.item, listing_path(f)%><br><br>
  <% end %>
</div>
<div class="col-xs-6 text-right">
<% if !@reco.nil?%>
  <h4 class="text-right">You might like these</h4>
  <% @reco.each do |f|%>
    <%= link_to f.item, listing_path(f)%><br><br>
  <% end %>
<% end %>
</div>
</div>

</div> <!-- main content ends-->

<div class="col-xs-4"> <!-- side bar begin -->

  <h2 class="text-left">Feed</h2>


<% @feed.each do |f|%>
<div>
            <div class="text-left">
            <% if f.is_a? Order%>
            <%= link_to f.user.name, user_path(f.user)%> ordered <%= link_to f.item, listing_path(f.listing) %> from <%= link_to f.listing.user.name, user_path(f.listing.user) %> <%= time_ago_in_words(f.created_at)%> ago<br><br>
            <% elsif f.is_a? Listing%>
                <%= link_to f.user.name, user_path(f.user)%> posted <%= link_to f.item,listing_path(f)%> <%= time_ago_in_words(f.created_at)%> ago<br><br>
            <% else %>
            <% end %>
            </div>
<% end %>

</div>

</div> <!-- sidebar end -->

 </div> <!--container end -->

<% else%>
<div class="container">

      <div class="jumbotron">
        <h1>Hungry for some home-cooked food?</h1>
        <p class="lead">Find home-cooked meals nearby or enroll as a chef and share your cooking with foodies!</p>
        <p><%= link_to "Sign up today!", '/signup', class: "btn btn-large btn-success" %></p>
		 <p class="lead">OR </p>
        <p><%= link_to "Sign into existing account", '/signin', class: "btn btn-large btn-success" %></p> 
      </div>
   <!--<div class="row marketing">
        <div class="col-lg-6">
          <h4>Foodies</h4>
          <p>Find home-cooked meals by enthusiastic chefs near you at any time. You can get a taste of different cultures and save time,money and find new friends while doing it!  </p>

          <h4>Chefs</h4>
          <p>Party of 2 and cooked for twenty? Don't worry! You can now share it with foodies and earn some money while doing it! </p>

        </div>

      </div>-->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-4 text-center">
         <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
          <%= image_tag('landing_food.jpg', class:"img-circle")%>
          <h2 class="text-center">Find home-cooked food</h2
          <p>Find home-cooked meals by enthusiastic chefs near you at any time.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4 text-center">
         <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
        <%= image_tag('landing_chef.jpg', class:"img-circle")%>  
        <h2 class="text-center">Sell home-cooked food</h2>
          <p>Party of 2 and cooked for twenty? Don't worry! You can now share it with foodies and earn some money while doing it!</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4 text-center">
          <!--<img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
         <%= image_tag('landing_event.jpg', class:"img-circle")%> 
         <h2 class="text-center">Meet other foodies and chefs</h2>
          <p> Setup events to introduce your food to the community as well as get to taste food from others in the community.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div> <!-- /container -->
<%end%>
</div>

