
<% if !current_user.nil?%>

<div class="container">
  
<div class="row">
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Profile", listings_path , class: "btn btn-large btn-link btn-block"%>
    </div>  
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Search", listings_path, class: "btn btn-large btn-link btn-block" %>
    </div> 
    <div class="col-xs-4 text-center hometab">
        <%= link_to "Create Listing", new_listing_path, class: "btn btn-large btn-link btn-block" %>
    </div>       
</div> 
<hr>
  <h2 class="text-left">Welcome, <%= current_user.name%>!</h2>
<h2 class="text-left">Current Orders</h2>
<% orders =current_user.orders %>
<% orders.each do |f|%>
<div class="row">
            <div class="col-xs-2 text-center">
            <% date=f.listing.expected_time%>
            <% if !date.nil?%>
            <h3><%= @dow[date.wday]%></h3> <!-- place day of week of order date here -->
           <p><%= @moy[date.month]%> <%= date.day%></p> <!-- place  of order date here -->
            <% end %>
          </div>
            <div class="col-xs-10 text-left">
              <br>
              <%= link_to f.item, orders_path+"/"+f.id.to_s%>
            </div>
</div>
<% end %> <br><br>
<h2 class="text-left">Your Events</h2>

<% events = current_user.events %>
<% events.each do |f|%>
<div class="row">
            <div class="col-xs-2 text-center">
            <h3><% date=f.event_time %></h3> <!-- place day of week of event date here -->
	    <p><%= @moy[date.month]%> <%= date.day%></p> <!-- place month and date of event date here -->
          </div>
            <div class="col-xs-10 text-left">
              <br>
              <%= link_to f.title, user_event_path(current_user,f) %>
            </div>
</div>
<% end %>

 </div> <!--container end -->

<% else%>
<div class="container">

      <div class="jumbotron">
        <h1>Hungry for some home-cooked food?</h1>
        <p class="lead">Find home-cooked meals nearby or enroll as a chef and share your cooking with foodies!</p>
        <p><%= link_to "Sign up today!", '/signup', class: "btn btn-large btn-success" %></p>
		 <p class="lead">OR </p>
        <p><%= link_to "Sign into existing account", '/signin', class: "btn btn-large btn-success" %></p> 
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Foodies</h4>
          <p>Find home-cooked meals by enthusiastic chefs near you at any time. You can get a taste of different cultures and save time,money and find new friends while doing it!  </p>

          <h4>Chefs</h4>
          <p>Party of 2 and cooked for twenty? Don't worry! You can now share it with foodies and earn some money while doing it! </p>

        </div>

      </div>

</div> <!-- /container -->
<%end%>
