<br><br><br>
  <head>
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->


    <!-- Bootstrap core CSS -->
    <!-- <link href="../dist/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="signin.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ page.base_url }}docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <div class="container signbody">
  <!--<div class="row">-->
    <!--<div class="span6 offset3">-->
      <!--
      <form class="form-signin">
        <h2 class="form-signin-heading">Register</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus>
        <input type="text" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Show the Password
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="register">Sign up</button>
      </form>-->

    
<!--<div class="row">-->
  <!--<div class="span6 offset3">-->

  <div class="form-signin">
  
    <%= form_for(@user) do |f| %>
      <h2 class="form-signin-heading">Register</h2>
      <%= render 'shared/error_messages' %>
      <%= f.text_field :name ,placeholder: "Username", class: "form-control"%><br>

      <%= f.text_field :email,placeholder: "Email", class: "form-control" %><br>
      <%= f.file_field :picture  %>
      
      <%= f.password_field :password,placeholder:" Password", class: "form-control" %><br>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control"%>    
      <% f.hidden_field :ip,value:"98.242.64.230"%>
      <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Show the Password
        </label><br>-->
      <%= f.submit "Create my account", class: "btn btn-large btn-primary btn-block" %>
    <% end %>
  </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
