
<div class="container profilecon">

      <div class="row text-center">
          <h1 class="text-muted" id="username"><%= @user.name%></h1>
      </div>

              <div class="row text-center userimage">
                <%= image_tag(@user.picture_url, class:"img-rounded", :width => 200) if @user.picture.present? %>
<!--         <%= image_tag('chef.jpg', class: "img-rounded", height:"200", width:"200",alt:"Chef")%> -->
<!--         <%pic = @user.picture%>
        <%= image_tag(pic) %> -->

              </div>
              <div class="row text-center">
             <h3> Rating: <%= @user.reputation_for(:votes)%> <h3>
             </div>
               <div class="row text-center"> 

                    <%= render 'follow_form' if signed_in?%>

               </div>      
      <div class="row text-center">
          <p id="userdescription" class="userdes"><%= @user.description%></p> <!-- replace with user description value here -->
      </div>

      <div class="row profilebar tabs">
            <div class="col-xs-3 text-center profiletab">
            <h3><%=@user.name%></h3>
            <p><%= link_to "User info",user_path(@user,:anchor=>"#tab1")%></p> 
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.followers.count%></h3>
            <p><%= link_to "Subscribers",user_path(@user,:anchor=>"#tab2")%></p> 
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.followed_users.count %></h3>
            <p><%= link_to "Subscribing", user_path(@user, :anchor=> "#tab3")%></p>
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.reviews.count %></h3>
            <p><%= link_to "Reviews", user_path(@user, :anchor=> "#tab4")%></p>
            </div>
      </div>

<div id="tab1">
    <%= render 'user_activity'%>
</div>
<div id="tab2">
    <%= render 'subscribers'%>
</div>
<div id="tab3">
    <%= render 'subscribing' %> 
</div>
<div id="tab4">
    <%= render 'reviews' %> 
</div>

</div> <!-- end of container -->



<script type="text/javascript">
//jquery code to show correct tabs and hide the others
$('div[id^=tab]').hide();
$('#tab1').show();
$('.tabs a').click(function () {
   var tab_id = $(this).attr('href'); 
   tab_id = "#"+tab_id.slice(12,16); //parsing to get rid of unecessary spaces

   $('div[id^=tab]').hide();
   $(tab_id).show(); 
   console.log(tab_id);
});
</script>
