


<div class="container profilecon">

      <div class="row text-center">
          <h1 class="text-muted" id="username"><%= @user.name%></h1>
      </div>

              <div class="row text-center userimage">
                <%= image_tag(@user.picture_url, class:"img-rounded", :width => 200) if @user.picture.present? %>
<!--         <%= image_tag('chef.jpg', class: "img-rounded", height:"200", width:"200",alt:"Chef")%> -->
<!--         <%pic = @user.picture%>
        <%= image_tag(pic) %> -->

              </div>
             <h3> <%= @user.reputation_for(:votes)%> <h3>
               <div class="row text-center"> 

                    <%= render 'follow_form' if signed_in?%>

               </div>      
      <div class="row text-center">
          <p id="userdescription" class="userdes"><%= @user.description%></p> <!-- replace with user description value here -->
      </div>

      <div class="row profilebar">
            <div class="col-xs-3 text-center profiletab">
            <h3><%=@user.name%></h3>
            <p><%= link_to "User information",user_path(@user,:anchor=>"user_activity")%></p>
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.followers.count%></h3>
            <p><%= link_to "Subscribers",user_path(@user,:anchor=>"subscribers")%></p>
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.followed_users.count %></h3>
            <p><%= link_to "Subscribing", user_path(@user, :anchor=> "subscribing")%></p>
            </div>
            <div class="col-xs-3 text-center profiletab">
            <h3><%= @user.reviews.count %></h3>
            <p>Reviews</p>
            </div>
      </div>

<div id='user_activity'>
<%= render 'user_activity'%>
</div>
<div id='subscribers'>
<%= render 'subscribers'%>
</div>
<div id='subscribing'>
<%= render 'subscribing' %>
</div>
