Surprise under construction.. Come back soon.
<br><br>
<div class="container">
  <div class="col-xs-4">
    <div class="row">
      <%= link_to  image_tag(@reco_most_freq_chef_curr_listing.picture,:title => "Because you like this chef a lot.",:width=>200,:height=>200), listing_path(@reco_most_freq_chef_curr_listing), class:"pull-left img-thumbnail" %>
     </div>
    <div class="row">
      Expected Time:<%= @reco_most_freq_chef_curr_listing.expected_time.to_formatted_s(:short) %><br></div>
    <div class="row">
      Upvotes: <%= @reco_most_freq_chef_curr_listing.reputation_for(:votes).to_i%>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row">
     <%= link_to image_tag(@top5.first.picture,:title=>"Selling like hot cakes",:width=>200,:height=>200),listing_path(@top5.first), class:"img-thumbnail"%>
    </div>
    <div class="row">
      Expected Time:<%= @top5.first.expected_time.to_formatted_s(:short) %><br></div>
    <div class="row">
      Upvotes: <%= @top5.first.reputation_for(:votes).to_i%>
    </div>
  </div>
</div>
