<h1>Events</h1>
<div class="row">
  <ul class="inline text-center">
  <li><h2 class="text-muted text-center">Host potlucks, challenges and share your food! </h2></li>
  <li><h2 class=  "text-center"><%= link_to "Create an event", new_user_event_path(user_id:current_user.id), class:"btn btn-success btn-large" %> </h2></li>
  <li><h2 class="text-muted text-center">(It's free.)</h2></li>
</div>  
<!--     <div class="container marketing"> -->
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-4 text-center">
         <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
          <%= image_tag('potluck.jpg', class:"img-rounded", height:100)%>
          <h4 class="text-muted text-center">Potlucks</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4 text-center">
         <!-- <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
        <%= image_tag('chefsocials.jpg', class:"img-rounded" ,height:100)%>  
        <h4 class="text-muted text-center">Chef Socials</h4>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4 text-center">
          <!--<img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">-->
         <%= image_tag('challenges.jpg', class:"img-rounded", height:100)%> 
         <h4 class="text-muted text-center">Cooking Challenges</h4>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<!-- </div> /container --><br><br>
<h2 class="text-left"> Discover events</h2>
<hr>
 <% @event.each do |f|%>
 <div class="row">
            <div class="col-xs-2 text-center">
            <% date = f.event_time%>
            <h3><%= @dow[date.wday]%></h3> <!-- place day of week of event date here -->
            <p><%= @moy[date.month]%> <%= date.day %></p> <!-- place month and date of event date here -->
          </div>
            <div class="col-xs-10 text-left">
              
               <%= link_to f.title,user_event_path(current_user,f) %><br>
                   <small>When: <%= f.event_time%></small><br>
                    <small>Where: <%= f.address%></small><br>
            </div>
</div>
<hr>
 <% end %>
