<h1>Events</h1>
<div class="row">
  <ul class="inline text-center">
  <li><h2 class="text-center">Host potlucks, challenges and share your food! </h2></li>
  <li><h2 class=  "text-center"><%= link_to "Create an event", new_user_event_path(user_id:current_user.id), class:"btn btn-success btn-large" %> </h2></li>
</div>  
<hr>
 <% @event.each do |f|%>
 <div class="row">
            <div class="col-xs-2 text-center">
            <% date = f.event_time%>
            <h3><%= @dow[date.wday]%></h3> <!-- place day of week of event date here -->
            <p><%= @moy[date.month]%> <%= date.day %></p> <!-- place month and date of event date here -->
          </div>
            <div class="col-xs-10 text-left">
              <br>
               <%= link_to f.title,user_event_path(current_user,f) %>
            </div>
</div>
<hr>
 <% end %>
