<h1><%= @event.title%></h1>
<br><br>
<div class="container">
<div class="col-xs-6 pull-left">
 <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" , class: "pull-right"%>
</div><!-- div col xs 6-->
<div class="col-xs-6 pull-right">
<div class="row">
<ul class="inline"><li><h4 class="lead"> <strong>What:</strong> </h4></li><li><p class="lead"> <%= @event.description%> </p></li></ul>
</div>
<div class="row">
<ul class="inline"><li><h4 class="lead"> <strong>Where: </strong></h4></li><li> <p class="lead"><%= @event.address%> </p></li></ul>
</div>
<div class="row">
<ul class="inline"><li><h4 class="lead"> <strong>When: </strong></h4></li><li> <p class="lead"><%= @event.event_date%> </p></li></ul>
</div>
<div class="row">
<ul class="inline"><li><h4 class="lead"> <strong>Number of attendees:</strong> </h4></li><li> <p class="lead"><%= @event.users.count%> </p></li></ul>
</div>
</div>

</div><!-- div container-->
      <br>
      <% if !current_user.in?(@event.users)%>
      <%= link_to "Join Event",attend_user_event_path(current_user,@event),class: "btn btn-primary btn-large" %>
      <% else %>
          Looking forward to seeing you at the event
       <% end%>
