<h1>Orders#new</h1>

<div class="container">
  <div class="form-signin">


      <%= form_for(@order) do |f| %>

        
        <%= f.text_field :item, value:@listing.item %><br>
        <%= f.text_field :price, value:@listing.price %><br>
        <%= f.text_field :quantity, placeholder: "Quantity"%> <br>
        <%= f.text_field :special_request, placeholder: "Location"%>
        <%= f.hidden_field :listing_id, value: params[:listing_id]%>
        
        
        <%= f.submit "Place my order",class: "btn btn-large btn-primary btn-block" %>
      <% end %>
</div>
</div>
