<div class="container signbody">
  <div class="form-signin">

  		<h2 class="form-signin-heading">Order details</h2>

      <%= form_for(@order) do |f| %>

        
        <%= f.text_field :item, value:@listing.item, class: "form-control" %><br>
        <% pr =  'Price: $ ' + @listing.price.to_s  %>
        <fieldset disabled><%= f.text_field :price, value:pr, class: "form-control" %><br></fieldset>
        <%= f.text_field :quantity, placeholder: "Quantity", class: "form-control"%> <br>
        <%= f.text_field :special_request, placeholder: "Special dietary requests", class: "form-control"%><br>
        <%= f.hidden_field :listing_id, value: params[:listing_id]%>
        
        
        <%= f.submit "Place my order",class: "btn btn-large btn-primary btn-block" %>
      <% end %>
</div>
</div>
