
<br><br><br>
<h1 class="text-muted"><%= @order.item %></h1>
<div class="container">
<ul class="list-inline">
  <li><h4>Cooked By: </h4></li>
  <li><%= @order.listing.user.name %></li> <!-- place author of listing here -->
</ul>	
<ul class="list-inline">
  <li><h4>Order Quantity: </h4></li>
  <li><%= @order.listing.quantity%></l1> <!-- place order quantity here -->
</ul>
<ul class="list-inline">
  <li><h4>Date and Time of Pickup: </h4></li>
  <li><%= @order.listing.expected_time%></li> <!-- place order date here -->
  <li> 09:00 AM </li> <!-- place order time here -->
</ul>
<ul class="list-inline">
  <li><h4>Special Dietary Requests:</h4></li>
  <li>Vegetarian</li> <!-- place special dietary requests here -->
</ul>

<ul>
<br><br>
<% f=@order%>
  <%= link_to "Add Review", listings_path+"/"+f.listing_id.to_s+"?order_id="+f.id.to_s , class: "btn btn-primary"%><br><br>
</ul>

</div>	
