<!DOCTYPE html>
<html>
<head>
  <title>Feedme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
<meta charharset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content=""ad>
</head>
<body>

    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
                <%= link_to "FeedMe", '#', id: "logo" %>
          <nav>
          </nav>
        </div>
      </div>
    </header>
	
    <div class="container">
      <%= yield %>
       <%= render 'layouts/footer' %>
    </div>


</body>
</html>
